/**========================================================
    RESPONSIVE CSS

    Created: April 18, 2015

    Browsers supported: IE8+, Chrome35+, Firefox34+

    Known limitations:
    - none (yet)

******************** TODO  - CLEAN AND FIX **********************

    CONTENTS
        1 - COLORS
        2 - GENERAL 
        3 - TYPE
        4 - HEADER
        5 - CONTENT
        6 - BUTTON
        7 - FOOTER
        8 - MEDIA QUERIES

========================================================**/

/**========================================================
    1 - COLORS 
========================================================**/

.dark-red-bg, .button-bg {
    background-color: #8E0A0A;
}

.orangey-bg, .button-border-bg {
    background-color: #C73924;
}

.yellowish-bg, .content-bg {
    background-color: #E08745;
}

.dk-green-bg, .footer-bg {
    background-color: #32402D;
}

.greyish-bg {
    background-color: #4F423B;
}

.almost-white-bg {
    background-color: #eee;
}

.dark-red {
    color: #8E0A0A;
}

.dk-green {
    color: #32402D;
}

/**========================================================
    2 - GENERAL 
========================================================**/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #000 url(../img/skynebula01.png) repeat;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, Calibri, sans-serif;
    font-size: .9em;
    color: #4F423B;
}

.container {
    width: 95%;
    margin: 0px auto;
}

/* clearfix from: http://css-tricks.com/snippets/css/clear-fix/ 
   Good for IE8 and above */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.inline {
    display: inline-block;
}

.extra-margin-bottom {
    margin-bottom: 1rem;
}

.extra-margin-left {
    margin-left: 1rem;
}

.thin-border {
    border: 1px solid #222;
}

/**========================================================
    3 - TYPE
========================================================**/

@font-face {
  font-family: 'SpinCycle';
  src: url('../font/SPINC___.TTF')  format('truetype');
}

h1 {
    font-weight: normal;
    font-family: 'SpinCycle', Geneva, Tahoma, Verdana, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #222222;
    margin: 10px 0;
}

h2 {
    font-family: 'Comfortaa', CenturyGothic, AppleGothic, Calibri, sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 .65rem 0;
}

p {
    margin-top: .5rem;
    line-height: 150%;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link, a:visited {
    color: #8E0A0A;
}

a:hover, a:active {
    color: #32402D;
}

.caption {
    font-size: .8rem;
    text-align: center;
}

.bold {
    font-weight: bold;
}

/**========================================================
    4 - HEADER
========================================================**/

#header {
    margin: 0 auto 10px auto;
    padding: 1rem 0 0 0;
}

/* Logo */

#logo {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
}

#logo img {
    max-width: 100%;
    width: 75%;
}

/**========================================================
    4 - NAVIGATION 
========================================================**/

nav {
    margin: 0px;
    width: 100%;
    text-align: center;
    font-family: 'SpinCycle', Geneva, Tahoma, Verdana, sans-serif;
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}


nav li {
    display: inline-block;
    margin-bottom: 10px;
}

nav a, nav a:focus, nav a:visited {
    color: #8E0A0A;
    /* this doesn't work correctly ... try to figure it out - might need to be on the li? */
    /*background: url('../img/flyingSaucerButtonGreen.png') no-repeat; */
}

nav a:hover, nav a:active {
    color: #32402d;
}

nav a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    /* margin-top: 68px;
    padding-top: 50px; 
    padding-bottom: 45px; */
}

.main-nav {
    /* width: 165px; */
    /* background: url('../img/flyingSaucerButtonGreen.png') no-repeat; */
}


#nav-home a {
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav li a span:hover {
    cursor: pointer; 
}

/**========================================================
    5 - CONTENT
========================================================**/

/* Main - HTML5 fix for IE8 */
main {
    display: block;
}

#content {
    width: 95%; 
    max-width: 1200px;
    margin: auto;
}

.panel {
    padding: 20px;
    /* border: 1rem solid #E08745;  */
}

.panel-no-padding {
    padding: 0;
    margin: 0 20px;
    /* border: 1rem solid #E08745;  */
}

.swatch, .iswatch {
    display: inline-block;
    margin-right: .75rem;
    margin-bottom: .75rem;
    border: 1px solid #222;
    color: black;
    text-align: center;
}

.swatch {
    width: 4.5rem;
    height: 4.5rem;
}

.iswatch {
    width: 4.5rem;
    height: 4.5rem;
}

.iswatch img {
    width: 4.5rem;
    height: 4.5rem;
}

/**========================================================
    6 - BUTTON
========================================================**/

/* generated with http://css3buttongenerator.com */

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'SpinCycle', Geneva, Tahoma, Verdana, sans-serif;
    font-size: 1.3rem;
    color: #e08745 !important;
    background: #8e0a0a;
    padding: 7px 25px 0px 25px;
    border: solid #e08845 4px;
    text-decoration: none;
    margin-right: 1rem;
}

.btn-green {
    background: #32402D;
}

.btn:hover, .btn:active {
    background: #32402d;
    text-decoration: none;
}

/**========================================================
    7 - FOOTER
========================================================**/

footer {
    margin: auto;
    width: 95%; 
    max-width: 1200px;
    color: black;
    text-align: center;
}

.footer-motto {
    margin: auto;
    width: 100%; 
    color: #E08745;
}

.footer-motto p {
    margin: 0;
    padding: .5rem;
}

#footer-logo {
    margin: 0;
    text-align: center;
    padding-top: 1rem;
    color: black;
}

#footer-social {
    padding-bottom: 1rem;
}

footer a {
    font-weight: normal;
    margin-left: 10px;
}

footer a:link, footer a:visited {
    color: #e08745;
}

footer a:hover, footer a:active {
    color: #d9d9d9;
}

/**========================================================
    ?? - SLIDER
========================================================**/
  
.slider-wrapper{
    position:relative;
    overflow:hidden;
    width:100%;
    max-width: 460px;
    margin:0 auto;
    background:#222;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid #8E0A0A 4px;
}

.slider{
    position:relative;
    width:100%; 
/*  height:400px; when responsive, comment this out */
    margin:0 auto;
    background:#222;
}

.claim, .teaser{
    position:absolute;
    top:-200px;
    z-index:8000;
    padding:1% 3%;
    font-size: 2.25rem;
    line-height:100%
    color:#fff;
    white-space: nowrap;
    text-transform:uppercase;
}

.claim {
    line-height:100%
}   

.teaser {
    padding:0.5% 1.5%;
    font-size: 1.5rem;
    line-height:100%
}

.slider-colors1 {
    background-color: #222;
    color: #C73924;
}

.slider-colors2 {
    background-color: #e08745;
    color: #222;
}

.slider-colors3 {
    background-color: #8E0A0A;
    color: #d9d9d9;
}

.slider-colors4 {
    background-color: #32402D;
    color: #d9d9d9;
}

.slider-colors5 {
    background-color: #8E0A0A;
    color: #e08745;
}

.slider-colors6 {
    background-color: #222;
    color: #d9d9d9;
}

.slider-colors7 {
    background-color: #d9d9d9;
    color: #222;
}


/**========================================================
    8 - MEDIA QUERIES
========================================================**/

/* Above 400px wide: 
   (1) use logo at its original size
*/
@media (min-width: 400px) {
    #logo img {
        width: auto;
    }
}

/* Above 800px wide: 
   (1) two columns (33/66) for the main content 
   (2) shift some footer information to the left
*/
@media (min-width: 800px) {
    #text-examples {
        float: right;
        width: 61%;
    }

    #graphic-examples {
        float: left;
        width: 33%;
    }

    #version-info {
        position: relative;
        top: -3.1rem;
        text-align: left;
    }

    #version-info p {
        text-align: left;
        padding-left: 1rem;
    }
}

/* Above 950px wide: 
   (1) absolution position nav with basic buttons
*/
@media (min-width: 950px) {
    nav {
        position: absolute;
        width: 95%;
        top: 100px;
    }

    nav ul {
        margin: 0 0 20px 0;
    }

    #nav-menu {
        margin-left: 40px;
    }

    #nav-where {
        margin-right: 245px;
    }

    .btn {
        font-size: 1.3rem;
    }

    article {
        float: left;
        width: 47%;
    }
    aside {
        float: right;
        width: 48%;
    }
}

/* Above 1100px wide: 
   (1) two equal columns for the main content 
   (2) larger image examples
   (3) larger body, h1 & h2
   (4) bigger navigation buttons
*/
@media (min-width: 1100px) {
    #text-examples {
        float: right;
        width: 48%;
    }

    #graphic-examples {
        float: left;
        width: 48%;
    }

    .iswatch {
        width: 8rem;
        height: 8rem;
    }

    .iswatch img {
        width: 8rem;
        height: 8rem;
    }

    body {
        font-size: 1em;
    }

    body {
        font-size: 1em;
    }

    nav {
        position: absolute;
        top: 85px;
    }

    #nav-where {
        margin-right: 320px;
    }

    #nav-menu {
        margin-left: 0px;
    }

    nav a {
        vertical-align: middle;
        padding-top: 50px;
        padding-bottom: 45px;
        font-size: 1.3rem;
    }

    .main-nav {
        width: 165px;
        background: url('../img/flyingSaucerButtonGreen.png') no-repeat;
    }

    #nav-home a {
        margin-top: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}