/**========================================================
    RESPONSIVE CSS

    Created: April 18, 2015

    Browsers supported: IE8+, Chrome35+, Firefox34+

    Known limitations:
    - minimum width is 300px

******************** TODO  - CLEAN AND FIX **********************

    CONTENTS
        1 - COLORS
        2 - GENERAL 
        3 - TYPE
        4 - HEADER
        5 - NAVIGATION
        6 - CONTENT
        7 - BUTTON
        8 - FOOTER
        9 - SLIDER
        10 - MEDIA QUERIES

========================================================**/

/**========================================================
    1 - COLORS 
========================================================**/

.button-bg {
    background-color: #8E0A0A;
}

.button-border-bg {
    background-color: #C73924;
}

.content-bg {
    background-color: #E08745;
}

.footer-bg {
    background-color: #32402D;
}

.headline {
    color: #8E0A0A;
}

/**========================================================
    2 - GENERAL 
========================================================**/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #000 url(../img/skynebula01.png) repeat;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, Calibri, sans-serif;
    font-size: .9em;
    color: #4F423B;
}

h4 {
    margin: 1rem 0 .5rem 0;
    color: #8E0A0A;
}

article, aside {
    vertical-align: top;
    margin:10px 0;
}

section {
    margin-top: 20px;
}

.container {
    width: 95%;
    margin: 0px auto;
}

/* clearfix from: http://css-tricks.com/snippets/css/clear-fix/ 
   Good for IE8 and above */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clear {
    clear: both;
}

.inline {
    display: inline-block;
}

.hide {
    display: none;
}

.theme-border {
    border: 2px solid #8E0A0A;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 10px;
}

label {
    text-align: left;
}

.extra-margin-top {
    margin-top: 1rem;
}

/**========================================================
    3 - TYPE
========================================================**/

@font-face {
  font-family: 'SpinCycle';
  src: url('../font/SPINC___.TTF')  format('truetype');
}

h1 {
    font-weight: normal;
    font-family: 'SpinCycle', Geneva, Tahoma, Verdana, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #222222;
    margin: 10px 0;
    padding-top: 10px;
}

h2 {
    font-family: 'Comfortaa', CenturyGothic, AppleGothic, Calibri, sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 .65rem 0;
}

p {
    margin-top: .5rem;
    line-height: 150%;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link, a:visited {
    color: #8E0A0A;
}

a:hover, a:active {
    color: #32402D;
}

.bold {
    font-weight: bold;
}

/**========================================================
    4 - HEADER
========================================================**/

#header {
    margin: 0 auto 10px auto;
    padding: 1rem 0 0 0;
}

/* Logo */

#logo {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
}

#logo img {
    max-width: 100%;
    width: 75%;
}

/**========================================================
    5 - NAVIGATION 
========================================================**/

nav {
    margin: 0px;
    width: 100%;
    text-align: center;
    font-family: 'SpinCycle', Geneva, Tahoma, Verdana, sans-serif;
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}


nav li {
    display: inline-block;
    margin-bottom: 10px;
}

nav a, nav a:focus, nav a:visited {
    color: #8E0A0A;
    /* this doesn't work correctly ... try to figure it out - might need to be on the li? */
    /*background: url('../img/flyingSaucerButtonGreen.png') no-repeat; */
}

nav a:hover, nav a:active {
    color: #32402d;
}

nav a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

#nav-home a {
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav li a span:hover {
    cursor: pointer; 
}

/**========================================================
    6 - CONTENT
========================================================**/

/* Main - HTML5 fix for IE8 */
main {
    display: block;
}

#content {
    width: 95%; 
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

/* promotions */
.promo {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: center;
    margin-right: 5px;
}

.promo-desc {
    display: inline-block;
}

.promo img {
    display: inline-block;

}

.promo p {
    display: inline-block;
    vertical-align: top;
}

.promo-title {
    font-weight: bold;
    text-align: center;
    margin: 4px auto;
}

.promo-info {
    text-align: left;
    margin: 4px auto;
}

.promo-dow::after {
    content: ": ";
}

.promo-time::after {
    content: ".";
}

/* common to: menu, where, about */

#article-top {
    width: 100%;
}

#article-icons {
    vertical-align: top;
    text-align: center;
}

.article-icon {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
}

.article-icon a {
    outline: none;
}

/* menu */

.menu-popup {
    position: relative;
    background: #ddd;
    padding: 20px;
    width: auto;
    max-width: 700px;
    margin: 20px auto;
}

.menu-items-wrapper .description {
    text-align: center;
}

.menu-popup {
    background: #ddd url(../img/simple-gray-texture.jpg) repeat;
}

.menu-item p {
    margin-top: 0;
    margin-bottom: 0;
}

.description h1 {
    color: #32402D;
}

.fun-fact {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #8E0A0A;
    background: rgba(224, 135, 69, 0.6);
    text-align: center;
    width: 70%;
    margin: 20px auto;
    color: #111;
    font-style: italic;
}

/* where */
.article-icon {
    margin-top: 0;
}

.article-icon img {
    width: 50%;
}

.article-icon p {
    margin-top: .25rem;
    line-height: 125%;
}

#about-name {
    margin: 10px 0 10px 5px;
    font-weight: bold;
    color: #32402D;
}

#about-details {
    width: 100%;
    text-align: center;
}

#article-top, #about-details {
    display: block;
    float: none;
}

#about-details img {
    width: 98%;
}

#about-details .award {
    width: 50%;
}

.award-desc, #about-details p {
    vertical-align: top;
    text-align: left;
}

.location-details {
    text-align: center;
}

.location-details span {
    margin:0;
    display: block;
    padding: 5px;
    text-align: center
}

.article-icon a:hover {
    cursor: pointer;
}

.article-icon a, .article-icon a:focus, .article-icon a:visited {
    color: #8E0A0A;
}

/* google map */

.gmap {
    margin: 5px auto;
    width:95%;
    height:95%;
    min-height:500px;
}

.gmap_image img {
    max-width:100%;
}

/* about */
.about-desc p {
    margin: 5px;
    text-align: left;
}

.about-desc h2, .about-desc h4 {
    text-align: left;
    margin: 20px 5px 5px 5px;
}

/* contact */

#contact-fig {
    text-align: center;
}

#contact-fig img {
    display: inline-block;
    width: 90%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
}

.contact-form {
    margin: 10px auto;
    background: #f8f8f8;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

label, input {
    display: block;
}

label {
    margin-top: 1rem;
}

::-webkit-input-placeholder { color:#999; }
::-moz-placeholder { color:#999; } /* firefox 19+ */
:-ms-input-placeholder { color:#999; } /* ie */
input:-moz-placeholder { color:#999; }

.field {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;                     
}

.contact-form textarea {
    height:100px;
    padding-top: 10px;
}

.button-group input {
    display: inline;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #C73924;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
}

.button-group input:hover {
    background-color:#32402D;
}

.thankyou-msg {
    margin: 10px;
    background: #f8f8f8;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/**========================================================
    7 - BUTTON
========================================================**/

/* generated with http://css3buttongenerator.com */

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'SpinCycle', Geneva, Tahoma, Verdana, sans-serif;
    font-size: 1.3rem;
    color: #e08745 !important;
    background: #8e0a0a;
    padding: 7px 25px 0px 25px;
    border: solid #e08845 4px;
    text-decoration: none;
    margin-right: 1rem;
}

.btn:hover, .btn:active {
    background: #32402d;
    text-decoration: none;
}

.btn-border-tweak {
    border: solid #be6420 4px;
}

/**========================================================
    8 - FOOTER
========================================================**/

footer {
    margin: auto;
    width: 95%; 
    max-width: 1200px;
    color: black;
    text-align: center;
}

.footer-motto {
    margin: auto;
    width: 100%; 
    color: #E08745;
}

.footer-motto p {
    margin: 0;
    padding: .5rem;
}

#footer-logo {
    margin: 0;
    text-align: center;
    padding-top: 1rem;
    color: black;
}

#footer-social {
    padding-bottom: 1rem;
}

footer a {
    font-weight: normal;
    margin-left: 10px;
}

footer a:link, footer a:visited {
    color: #e08745;
}

footer a:hover, footer a:active {
    color: #d9d9d9;
}

/**========================================================
    9 - SLIDER
========================================================**/
  
.slider-wrapper{
    position:relative;
    overflow:hidden;
    width:100%;
    max-width: 460px;
    margin:0 auto;
    background:#222;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid #8E0A0A 4px;
}

.slider{
    position:relative;
    width:100%; 
/*  height:400px; when responsive, comment this out */
    margin:0 auto;
    background:#222;
}

.claim, .teaser{
    position:absolute;
    top:-200px;
    z-index:8000;
    padding:1% 3%;
    font-size: 2.25rem;
    line-height:100%
    color:#fff;
    white-space: nowrap;
    text-transform:uppercase;
}

.claim {
    line-height:100%
}   

.teaser {
    padding:0.5% 1.5%;
    font-size: 1.5rem;
    line-height:100%
}

.slider-colors1 {
    background-color: #222;
    color: #C73924;
}

.slider-colors2 {
    background-color: #e08745;
    color: #222;
}

.slider-colors3 {
    background-color: #8E0A0A;
    color: #d9d9d9;
}

.slider-colors4 {
    background-color: #32402D;
    color: #d9d9d9;
}

.slider-colors5 {
    background-color: #8E0A0A;
    color: #e08745;
}

.slider-colors6 {
    background-color: #222;
    color: #d9d9d9;
}

.slider-colors7 {
    background-color: #d9d9d9;
    color: #222;
}


/**========================================================
    10 - MEDIA QUERIES
========================================================**/

/* Above 400px wide: 
   (1) use logo at its original size
*/
@media (min-width: 400px) {
    #logo img {
        width: auto;
    }

    .promo {
        text-align: left;
    }

    .promo-desc {
        vertical-align: top;
        width: 70%;
        height: 80px;
        margin-bottom: 20px;
    }

    .article-icon p {
        font-size: 1rem;
    }

    #about-details .award {
        width: 33%;
    }

    .about-desc h2 {
        margin: 0 5px 5px 5px;
    }

    .award-desc, #about-details p {
        width: 64%;
    }
}

/* Above 768px wide: 
   (1) two columns for menu
*/
@media (min-width: 768px) {
    .menu-column-left {
        width: 46%;
        display: inline-block;
        text-align: right;
        margin-right: 20px;
        vertical-align: top;
    }

    .menu-column-right {
        width: 50%;
        display: inline-block;
        text-align: left;
        border-left: 1px solid #4F423B;
        vertical-align: top;
    }

    .menu-column-right .menu-item {
        padding-left: 20px;
    }

    .article-icon img {
        width: 75%;
    }

    #about-details .award {
        width: 25%;
    }

    .award-desc, #about-details p {
        width: 70%;
    }

    #contact-fig {
        display: inline-block;
        text-align: left;
        width: 50%;
    }

    #contact-fig img {
        width: 100%;
    }

    #contact-msg {
        display: inline-block;
        vertical-align: top;
        width: 45%;
        margin-top: 0;
    }

    .contact-form {
        margin: 0 auto;
    }
}

/* Above 800px wide: 
   (1) two columns (33/66) for the main content 
   (2) shift some footer information to the left
*/
@media (min-width: 800px) {
    article {
        float: left;
        width: 47%;
    }
    aside {
        float: right;
        width: 47%;
    }

    #specials {
        margin-left: 10px;
    }

    .btn {
        font-size: 1.15rem;
    }

    #promotions {
        margin-top: 47px;
    }

    .promo {
        text-align: center;
        width: calc(100%/3.3);
    }

    .promo-desc {
        vertical-align: top;
        width: auto;
        height: auto;
    }

    .promo-dow, .promo-time {
        text-align: center;
        display: block;
    }

    .promo-msg {
        display: inline-block;
    }

    .promo-time {
        margin-bottom: 1rem;
    }

    .promo-dow::after {
        content: '';
    }

    .promo-time::after {
        content: '';
    }

    .article-icon p {
        font-size: 1.1rem;
    }
}

/* Above 950px wide: 
   (1) absolution position nav with basic buttons
*/
@media (min-width: 950px) {
    nav {
        position: absolute;
        width: 95%;
        top: 100px;
    }

    nav ul {
        margin: 0 0 20px 0;
    }

    #nav-menu {
        margin-left: 40px;
    }

    #nav-where {
        margin-right: 245px;
    }

    .btn {
        font-size: 1.3rem;
    }

    article {
        float: left;
        width: 47%;
    }
    aside {
        float: right;
        width: 48%;
    }

    .article-icon img {
        width: 100%;
    }
}

/* Above 1100px wide: 
   (1) two equal columns for the main content 
   (2) larger image examples
   (3) larger body, h1 & h2
   (4) bigger navigation buttons
*/
@media (min-width: 1100px) {
    body {
        font-size: 1em;
    }

    nav {
        position: absolute;
        top: 85px;
    }

    #nav-where {
        margin-right: 320px;
    }

    #nav-menu {
        margin-left: 0px;
    }

    nav a {
        vertical-align: middle;
        padding-top: 50px;
        padding-bottom: 45px;
        font-size: 1.3rem;
    }

    .main-nav {
        width: 165px;
        background: url('../img/flyingSaucerButtonGreen.png') no-repeat;
    }

    #nav-home a {
        margin-top: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    article {
        float: left;
        width: 47%;
    }
    aside {
        float: right;
        width: 49%;
    }
}